html, body{
    margin: 0;
    padding: 0;
}
a{
    font-family: 'Roboto', sans-serif;
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
    outline: none;
    color: #717171;
}

button, a, input[type="text"]{
    text-transform: uppercase;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f5f5;
    color: #616161;
}

header{
    background-color: #8347b3;
    color: #fff;
    padding: 14px;
}
header > h1{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}
header > p{
    float: right;
}

.tabs {
  background-color: #8347b3;
  text-transform: uppercase;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.tabs .tab {
  padding: 8px 24px;
  display: inline-block;
  cursor: pointer;
  color: #fafafa;
}
.tabs .tab-active-bar {
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #fafafa;
}

section{
    padding: 24px 9px;
}
section  h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 24px;
    color: #8347b3;
}
#add-task-btn{
    padding: 8px 24px;
    background-color: #8347b3;
    color: #fff;
    float: right;
    margin-right: 16px;
}
#add-task-btn i{
    margin-right: 10px;
}
#tasks h2{
    margin-left: 16px;
}
#task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.task{
    background-color: #fff;
    padding: 16px 24px;
    border: 1px solid #eee;
    border-top-color: transparent;
    margin: 16px;
    flex-basis: 400px;

}
.task > h3{
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.task > p{
    color: #969696;
}
.task time, .task date{
    color: #969696;
}
.task .time-list{
    font-family: 'Roboto', sans-serif;
}
.task .action-buttons{
    min-width: 136px;
    float: right;
    text-align: right;
    color: #969696;
}
.task .edit-btn, .task .delete-btn{
    color: #969696;
}
 .task .edit-btn, .task .delete-btn, .task .duration{
    margin-left: 10px;
    display: inline-block;
}
.task .time{
    margin-top: 10px;
    margin-bottom: 10px;
}
.task .action{
    text-align: right;
    margin-top: 24px;
}
.task .action a{
    margin-left: 32px;
}
.task .action .btn-start{
    color: #8347b3;
}

#project-list{
    background-color: #fff;
}
#project-list a{
    display: block;
    padding: 10px 16px;
}

#project-form{
    margin-bottom: 24px;
}
#project-form #new-project-title-input{
    width: 75%;
    border: none;
    background-color: #fff;
    box-shadow: none;
    padding: 5px 10px;
    outline: none;
}
#project-form #add-project-btn{
    width: 20%;
    border: none;
    background-color: #8347b3;
    color: #fff;
    padding: 5px 10px;
    float: right;
    text-transform: uppercase;
}

.empty-text{
    color: #969696;
    text-align: center;
    text-transform: uppercase;
}

.modal-content{
    border-radius: 0;
    padding: 16px;
}
.modal-header h3{
    text-transform: uppercase;
}
.modal-body input, .modal-body select{
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
option{
    padding: 10px;
}
.modal-body input:focus, .modal-body select:focus{
    border-radius: none;
    box-shadow: none;
}
.modal-body label{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #969696;
}
.modal-body .form-group{
    margin-bottom: 32px;
}
#add-task-modal-btn, #save-time-modal-btn{
    color: #fff;
    background-color: #8347b3;
}

.modal-footer{
    border: none;
}
.modal-footer button{
    margin-top: 10px;
    margin-left: 16px;
    min-width: 96px;
    padding: 6px 24px;
    background-color: #f0f0f0;
    border: none;
}
