body, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
    outline: none;
}


main{
    height: 548px;
    padding: 24px;
    background-color: #fff;
    margin: 16px auto auto auto;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}

h3{
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #8347b3;
}
#project-list{
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}

#project-list a{
    display: block;
    text-transform: uppercase;
    background-color: #fff;
    color: #717171;
    padding: 10px 24px;
}
#project-list a:hover{
    background-color: #f5f5f5;
}
#project-list .active{
    background-color: #fafafa;
    border-right: 2px solid #8347b3;
}
