{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ project }} - {{ team }}</title>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

    <script src="{% static 'js/graph.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,500" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" />

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <script>
        const summaryAPI = '/api/v1/summary/{{ project.pk }}/';

        const teamName = '{{ team }}';
        const projectName = '{{ project }}';

        const tasks = [
            {% for task in project.task_set.all %}
            {
                pk: {{ task.pk }},
                name: '{{ task.name|escapejs }}',
                active: {% if task.active %}true{% else %}false{% endif %},
                color: getColor('{{ task.name|escapejs }}'),
            },
            {% endfor %}
        ];

        const users = [
            {% for user in project.team.members.all %}
            {
                pk: {{ user.pk }},
                displayName: '{{ user.display_name|escapejs }}',
                photoUrl: '{{ user.photo_url|escapejs }}',
                color: getColor('{{ user.display_name|escapejs }}'),
            },
            {% endfor %}
        ];

    </script>

</head>
<body>
    <header>
        <a class="app-info" href="{% url 'home' %}" target="_blank">
            <img src="{% static 'img/logo.png' %}">
            <h1>Chrono<br><small>{{ team }} / {{ project }}</small></h1>
        </a>
        <div class="filters">
            <div class="filter date-filter">
                <label>From</label>
                <input id="start-date-filter" type="date">
            </div>

            <div class="filter date-filter">
                <label>To</label>
                <input id="end-date-filter" type="date">
            </div>

            <div class="filter">
                <label>Users</label>
                <select id="users-filter" multiple>
                    <option value="">Filter by people</option>
                    {% for user in project.team.members.all %}
                    <option value="{{ user.pk }}">{{ user.display_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter">
                <label>Tasks</label>
                <select id="tasks-filter" multiple>
                    <option value="">Filter by tasks</option>
                    {% for task in project.task_set.all %}
                    <option value="{{ task.pk }}">{{ task.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="action-buttons">
                <button id="apply-filters">Apply filters</button>
            </div>
        </div>
    </header>

    <main>
        <section class="graph graph-1">
            <header>
                <h3>Hours spent on tasks</h3>
            </header>
            <div class="content">
                <svg id="bar-chart"></svg>
                <div id="bar-chart-legend"></div>
            </div>
        </section>

        <section class="graph graph-2">
            <header>
                <h3>Active tasks</h3>
            </header>
            <div class="content">
                <svg id="pie-chart"></svg>
                <div id="pie-chart-legend"></div>
            </div>
        </section>

        <section class="graph graph-3">
            <header>
                <h3>Hours spent per day</h3>
                <div class="action-buttons">
                    <button id="switch-line-area" class="short-button fa fa-area-chart" data-active-chart="line"></button>
                </div>
            </header>
            <div class='content'>
                <div class="svg-container">
                    <svg id="line-chart"></svg>
                    <div id="line-chart-legend"></div>
                </div>
                <div class="svg-container">
                    <svg id="area-chart"></svg>
                    <div id="area-chart-legend"></div>
                </div>
            </div>
        </section>

        <section class="table">
            <header>
                <h3>Hours summary</h3>
                <div class="action-buttons">
                    <button id="export-table"><span class="fa fa-file-excel-o"></span> Export to excel</button>
                </div>
            </header>
            <div class="content">
            </div>
        </section>
    </main>

    <footer>
        Copyright (c) 2017 Togglecorp All Rights Reserved.
    </footer>
</body>
</html>
