{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chrono</title>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
    // Initialize Firebase
    const config = {
        apiKey: "AIzaSyDV5SEaetn38UksDXF3a0mQPFY4UH1nPU4",
        authDomain: "chrono-50f8f.firebaseapp.com",
        databaseURL: "https://chrono-50f8f.firebaseio.com",
        storageBucket: "chrono-50f8f.appspot.com",
        messagingSenderId: "445187391"
    };
    firebase.initializeApp(config);

    let userApi = '/api/v1/users/';
    const teamApi = '/api/v1/teams/';
    const projectApi = '/api/v1/projects/';
    const taskApi = '/api/v1/tasks/';
    const entryApi = '/api/v1/entries/';
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/sign-in.js' %}"></script>
    <script src="{% static 'js/database.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,500" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
</head>
{% verbatim %}
<body ng-app="chrono" ng-controller="mainController">
    <header>
        <div id="app-info">
            <img src="/static/img/logo.png">
            <h1>Chrono <span class="fa fa-circle-o-notch fa-spin" ng-show="!dataLoaded"></span></h1>
        </div>
        <div id="user-info">
            <a><span>{{ auth.user.displayName }}</span><i class="fa fa-chevron-down"></i></a>
        </div>
    </header>
     
    <aside>
        <header>
            <h2>Projects</h2>
        </header>
        <div id="projects">
            <a ng-if="project.team == selectedTeam" ng-repeat="project in db.projects" href="#{{project.slug}}">{{ project.name }}</a>
        </div>
        <div id="add-project-inputs">
            <header>
                <h3>Add new project</h3>
            </header>
            <div class="content">
                <div class="input-group">
                    <label>Select Team:</label>
                    <select ng-model="selectedTeam" ng-options="team.pk as team.name for team in db.teams">
                    </select>
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input ng-model="newProjectName" placeholder="Enter project name">
                </div>
                <div class="action-buttons">
                    <button progress-click="db.addProject(selectedTeam, newProjectName)"><i class="fa fa-plus"></i>Add</button>
                </div>
            </div>
        </div>
    </aside>
     
    <main>
        <div ng-if="project.team == selectedTeam" ng-repeat="project in db.projects" id="{{project.slug}}" >
            <header>
                <h2>{{ project.name }}</h2>
                <div class="action-buttons">
                    <a target="_blank" href="{{ getDashboardUrl(project) }}" title="View stats"><i class="fa fa-area-chart"></i></a>
                    <button progress-click="db.deleteProject(project.pk)" title="Delete project"><i class="fa fa-trash"></i></button>
                </div>
                <div class="tabs">
                    <div class="tab {{ taskTab == 'active' ? 'active' : '' }}" ng-click="taskTab = 'active';">Active tasks</div>
                    <div class="tab {{ taskTab == 'all' ? 'active' : '' }}" ng-click="taskTab = 'all';">All tasks</div>
                </div>

            </header>

            <div id="tasks">
                <div ng-repeat="task in project.tasks" class="task {{ task.running ? 'active' : '' }}" ng-show="taskTab == 'all' || task.active">
                    <header>
                        <h3>{{ task.name }}</h3>
                        <div class="task-action-buttons">
                            <button ng-click="db.editTask(task.pk)" title="Edit task"><i class="fa fa-edit"></i></button>
                            <button ng-if="!task.running" progress-click="db.startTask(task.pk)" }} title="Start task"><i class="fa fa-play" ></i></button>
                            <button ng-if="task.running" progress-click="db.stopTask(task.pk)" }} title="Stop task"><i class="fa fa-stop"></i></button>
                        </div>
                    </header>
                     
                    <div class="time-elements">
                        <div ng-repeat="entry in task.entries">
                            <date>{{ entry.start_time | date: 'short' }}</date>
                            <div>
                                <time ng-if="entry.end_time">{{ entry.dt }}</time>
                                <span ng-if="!entry.end_time">active</span>
                            </div>
                            <div>
                                <button ng-click="db.editTaskEntry(task.pk, entry.pk);" title="Edit"><i class="fa fa-edit"></i></button>
                                <button progress-click="db.deleteTaskEntry(task.pk, entry.pk)" title="Delete"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="task new-task" ng-show="taskTab == 'all'">
                    <header>
                        <h3><input ng-model="newTaskName" placeholder="Enter task name"></h3>
                        <div class="task-action-buttons">
                            <span></span><button ng-click="newTaskName = '';" progress-click="db.addTask(project.pk, newTaskName);"><i class="fa fa-plus"></i></button>
                        </div>
                    </header>
                    <div class="time-elements">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="edit-entry-modal" class="modal-container">
        <div class="modal">
            <header><h2>Edit task entry</h2></header>
            <main>
                <div>
                    <label>Start time:</label>
                    <input type="datetime-local" ng-model="editEntryStartTime">
                </div>
                <div>
                    <label>End time:</label>
                    <input type="datetime-local" ng-model="editEntryEndTime">
                </div>
            </main>
            <footer>
                <button data-modal-action="close">Close</button>
                <button data-modal-action="save">Save</button>
            </footer>
        </div>
    </div>

    <div id="edit-task-modal" class="modal-container">
        <div class="modal">
            <header><h2>Edit task</h2></header>
            <main>
                <section>
                    <label>Basic</label>
                    <div>
                        <label>Name: </label>
                        <input type="text" ng-model="editTaskName">
                    </div>
                </section>
                <section>
                    <label>Plan schedule</label>
                    <div>
                        <label>Start: </label>
                        <input type="date" ng-model="editTaskPlanStart">
                    </div>
                    <div>
                        <label>End: </label>
                        <input type="date" ng-model="editTaskPlanEnd">
                    </div>
                </section>
                <section>
                    <label>Status</label>
                    <div>
                        <label class="radio-input"><input type="checkbox" ng-model="editTaskActive">Active</label>
                        <button data-modal-action="delete" data-modal-persist="true">Delete</button>
                    </div>
                    <div>
                    </div>
                </section>
            </main>
            <footer>
                <button data-modal-action="close">Close</button>
                <button data-modal-action="save">Save</button>
            </footer>
        </div>
    </div>
</body>
{% endverbatim %}
</html>
