body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5;
  color: #616161; }
  body a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: none; }
    body a:hover, body a:active, body a:visited, body a:focus {
      text-decoration: none;
      outline: none;
      color: #717171; }

body .ui-autocomplete {
  z-index: 2147483647; }
body header {
  background-color: #fff;
  color: #8347b3;
  padding: 16px; }
  body header img {
    height: 3em;
    float: left;
    margin-right: 16px; }
  body header h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3em; }
  body header p {
    float: right; }
body main .tabs {
  background-color: #fff;
  text-transform: uppercase;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1);
  position: relative; }
  body main .tabs .tab {
    padding: 8px 24px;
    display: inline-block;
    cursor: pointer;
    color: #8347b3; }
  body main .tabs .tab-active-bar {
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #8347b3; }
body main section {
  padding: 24px 9px; }
  body main section h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 24px;
    color: #8347b3; }
body main #tasks #add-task-btn {
  padding: 8px 24px;
  background-color: #8347b3;
  color: #fff;
  float: right;
  margin-right: 16px;
  box-shadow: 0 3px 10px -3px #000;
  transition: 0.2s all ease-in-out; }
  body main #tasks #add-task-btn:active {
    box-shadow: 0 3px 5px -3px #000; }
  body main #tasks #add-task-btn i {
    margin-right: 10px; }
body main #tasks h2 {
  margin-left: 16px; }
body main #tasks #task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
body main #projects h2 {
  margin-left: 24px; }
body main #projects #project-container {
  padding: 24px;
  display: flex; }
  body main #projects #project-container #project-form {
    margin-bottom: 24px; }
    body main #projects #project-container #project-form label {
      text-transform: uppercase;
      font-size: 0.9em;
      width: 23%;
      color: #969696; }
    body main #projects #project-container #project-form #new-project-team {
      width: 76%;
      background-color: #fff;
      border: none;
      padding: 6px 10px;
      outline: none;
      margin-bottom: 24px;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    body main #projects #project-container #project-form #new-project-title-input {
      width: 75%;
      border: none;
      background-color: #fff;
      box-shadow: none;
      padding: 6px 10px;
      outline: none;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    body main #projects #project-container #project-form #add-project-btn {
      width: 20%;
      border: none;
      background-color: #8347b3;
      color: #fff;
      padding: 6px 10px;
      float: right;
      text-transform: uppercase;
      box-shadow: 0 3px 10px -3px #000;
      outline: none;
      transition: 0.2s all ease-in-out; }
      body main #projects #project-container #project-form #add-project-btn:active {
        box-shadow: 0 3px 5px -3px #000; }
  body main #projects #project-container #project-list {
    background-color: #fff; }
    body main #projects #project-container #project-list a {
      display: block;
      padding: 10px 16px; }
body .task {
  background-color: #fff;
  padding: 16px 24px;
  border: 1px solid #eee;
  border-top-color: transparent;
  margin: 16px;
  flex-basis: 400px; }
  body .task h3 {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px; }
  body .task p {
    color: #969696; }
  body .task .time-list {
    font-family: 'Roboto', sans-serif; }
    body .task .time-list .time {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #969696; }
      body .task .time-list .time .action-buttons {
        min-width: 136px;
        float: right;
        text-align: right; }
        body .task .time-list .time .action-buttons .fa, body .task .time-list .time .action-buttons .duration {
          margin-left: 10px;
          color: #969696;
          display: inline-block; }
  body .task .action {
    text-align: right;
    margin-top: 24px; }
    body .task .action .btn-start {
      margin-left: 32px;
      color: #8347b3; }
body #add-task-modal .modal-content {
  border-radius: 0;
  padding: 16px; }
  body #add-task-modal .modal-content .modal-header h3 {
    text-transform: uppercase; }
  body #add-task-modal .modal-content .modal-body input, body #add-task-modal .modal-content .modal-body select {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-transform: none; }
    body #add-task-modal .modal-content .modal-body input option, body #add-task-modal .modal-content .modal-body select option {
      padding: 10px; }
  body #add-task-modal .modal-content .modal-body input:focus, body #add-task-modal .modal-content .modal-body select:focus {
    border-radius: none;
    box-shadow: none; }
  body #add-task-modal .modal-content .modal-body label {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #969696; }
  body #add-task-modal .modal-content .modal-body .form-group {
    margin-bottom: 32px; }
  body #add-task-modal .modal-content .modal-footer {
    border: none; }
    body #add-task-modal .modal-content .modal-footer button {
      margin-top: 10px;
      margin-left: 16px;
      min-width: 96px;
      padding: 6px 24px;
      background-color: #f0f0f0;
      border: none; }
    body #add-task-modal .modal-content .modal-footer #add-task-modal-btn, body #add-task-modal .modal-content .modal-footer #save-time-modal-btn {
      color: #fff;
      background-color: #8347b3; }

/*# sourceMappingURL=dashboard.css.map */
