* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #515151;
  line-height: 1.5; }
  body a, body a:hover, body a:visited, body a:active, body a:focus {
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer; }

* {
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg.png");
  background-color: #8e44ad;
  background-blend-mode: soft-light; }
  body #app-detail {
    flex-basis: 66%;
    min-height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap; }
    body #app-detail header {
      display: flex;
      align-items: center; }
    body #app-detail img {
      margin: 36px 0;
      height: 72px; }
    body #app-detail h1 {
      margin: 36px 0;
      font-size: 5em;
      line-height: 1;
      color: #f0f0f0;
      text-transform: uppercase; }
  body #team-detail {
    min-height: calc(100vh - 96px);
    flex-basis: 30%;
    background-color: #fff;
    margin: 48px 0;
    padding: 0 32px;
    border-radius: 5px;
    box-shadow: 3px 5px 25px -7px rgba(0, 0, 0, 0.5); }
    body #team-detail #team-list {
      flex-basis: 30%; }
      body #team-detail #team-list header {
        height: 96px;
        display: flex;
        align-items: center;
        font-size: 2em; }
      body #team-detail #team-list .empty {
        height: calc(100vh - 100px - 96px - 96px);
        padding-top: 48px;
        text-align: center;
        color: #c0c0c0;
        font-size: 2em; }
      body #team-detail #team-list .list {
        overflow-y: auto;
        height: calc(100vh - 100px - 96px - 96px); }
        body #team-detail #team-list .list a {
          display: block;
          width: 100%;
          min-height: 48px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          display: flex;
          align-items: center;
          color: #8e44ad; }
          body #team-detail #team-list .list a:hover {
            background-color: rgba(0, 0, 0, 0.1); }
    body #team-detail #new-team-input-container {
      height: 100px; }
      body #team-detail #new-team-input-container .content {
        display: flex;
        justify-content: space-between;
        align-items: baseline; }
        body #team-detail #new-team-input-container .content input {
          flex-basis: calc(95% - 164px);
          font-size: 1.5em;
          font-family: inherit;
          display: block;
          padding: 4px 8px;
          border: none;
          outline: none;
          background-color: transparent;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
        body #team-detail #new-team-input-container .content button {
          flex-basis: 164px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-top: 24px;
          display: block;
          padding: 12px 16px;
          font-family: inherit;
          font-size: 1.2em;
          text-transform: uppercase;
          border: none;
          background-color: #8e44ad;
          color: #fff;
          cursor: pointer;
          border-radius: 3px; }
          body #team-detail #new-team-input-container .content button .fa {
            margin-right: 10px; }

/*# sourceMappingURL=landing.css.map */
