@import 'colors';
@import 'dimensions';

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Cantarell', sans-serif;
    font-weight: $font-weight-normal;
    font-size: $font-size-md;
    background-color: $background-color;
    color: $text-color;
    line-height: $line-height-md;

    a, a:hover, a:visited, a:active, a:focus{
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        cursor: pointer;
    }
}
