$header-height: 80px;

$font-size-md: 14px;
$font-size-sm: 13px;
$font-size-xs: 11px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-sl: 24px;

$font-weight-normal: 400;
$font-weight-thin: 300;
$font-weight-bold: 500;

$line-height-md: 1.8;
