$header-height: 80px;

$font-size-md: 14px;
$font-size-sm: 13px;
$font-size-xs: 11px;
$font-size-lg: 15px;
$font-size-xl: 18px;
$font-size-sl: 24px;

$font-weight-normal: 400;
$font-weight-thin: 400;
$font-weight-bold: 700;

$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 1.8;
