@import 'base';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }

    > header {
        flex-basis: 100%;
        height: $header-height;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 0 24px;
        background-color: $primary-color;
        color: #fff;
        z-index: 1;

        .app-info{
            align-items: center;
            display: flex;

            img {
                height: 2.6em;
                width: 2.6em;
                margin-right: 10px;
                object-fit: contain;
                object-position: center;
                filter: grayscale(50%) brightness(120%);
            }
             
            h1 {
                font-size: 2.4em;
                font-weight: $font-weight-normal;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }
    }
}

main {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - #{$header-height});
    justify-content: center;

    > header {
        flex-basis: 100%;
        background-color: #fff;
        height: $header-height;

        .filters {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .action-buttons {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
        }

        button {
            background-color: $primary-color;
            border: 0;
            color: #fff;
            cursor: pointer;
            height: 38px;
            outline: none;
            padding: 8px;
        }

        .filter {
            display: flex;
            height: 36px;
            flex-basis: 15%;
            align-items: center;
            margin: 8px;

            label {
                margin-right: 10px;
            }

            > input,
            > div {
                flex-basis: 90%;
                height: 36px;
            }

            > input,
            .selectize-input {
                min-height: 100%;
                padding: 8px;
                border: 1px solid rgba(0, 0, 0, .4);
                border-radius: 0;
                box-shadow: none;
            }
        }
    }

    > .content {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }

    .graph {
        background-color: #fff;
        display: block;
        height: calc(50vh - #{$header-height} - 32px);
        position: relative;

        svg {
            width: 100%;
            height: 100%;
        }

        label {
            font-weight: $font-weight-bold;
            left: 16px;
            position: absolute;
            top: 16px;
        }
    }

    .graph-1 {
        flex-basis: calc(70% - 16px);
        order: 1;
        margin: 16px 0 0 16px;
    }

    .graph-2 {
        flex-basis: calc(30% - 32px);
        order: 2;
        margin: 16px 16px 0;
    }

    .graph-3 {
        flex-basis: calc(100% - 32px);
        order: 3;
        margin: 16px;
    }

    .table {
        background-color: #fff;
        flex-basis: calc(100% - 32px);
        margin: 0 16px 16px;
        order: 4;

        header {
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
        }

        label {
            font-weight: $font-weight-bold;
        }

        a {
            text-transform: none;
        }

        .content {
            padding: 16px;
            display: flex;
            justify-content: center;
        }

        table {
            border-spacing: 0;
        }

        thead {
            text-align: right;
            background-color: rgba(0, 0, 0, 0.03);
        }

        td,
        th {
            padding: 8px;
            border: 0;
            min-width: 96px;

            &.hours {
                text-align: right;
            }

            &:first-child {
                background-color: rgba(0, 0, 0, 0.02);
            }

            &:last-child {
                background-color: rgba(0, 0, 0, 0.03);
            }
        }

        tr:last-child {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

}
