@import "base.scss";

body{
    .ui-autocomplete{
        z-index:2147483647;
    }

    header{
        background-color: #fff;
        color: #8347b3;
        padding: 16px;

        img{
            height: 3em;
            float: left;
            margin-right: 16px;
        }
        h1{
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 3em;
        }
        p{
            float: right;
        }
    }
    main{
        .tabs{
            background-color: #fff;
            text-transform: uppercase;
            box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1);
            position: relative;

            .tab{
                padding: 8px 24px;
                display: inline-block;
                cursor: pointer;
                color: #8347b3;
            }
            .tab-active-bar{
                position: absolute;
                height: 3px;
                width: 0;
                left: 0;
                bottom: 0;
                background-color: #8347b3;
            }
        }
        section{
            padding: 24px 9px;

            h2{
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1.2em;
                margin-bottom: 24px;
                color: #8347b3;
            }
        }
        #tasks{
            #add-task-btn{
                padding: 8px 24px;
                background-color: #8347b3;
                color: #fff;
                float: right;
                margin-right: 16px;
                box-shadow: 0 3px 10px -3px #000;
                transition: 0.2s all ease-in-out;

                &:active{
                    box-shadow: 0 3px 5px -3px #000;
                }
                i{
                    margin-right: 10px;
                }
            }
            h2{
                margin-left: 16px;
            }
            #task-list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
        }
        #projects{
            h2{
                margin-left: 24px;
            }
            #project-container{
                padding: 24px;
                display: flex;

                #project-form{
                    margin-bottom: 24px;

                    label{
                        text-transform: uppercase;
                        font-size: 0.9em;
                        width: 23%;
                        color: #969696;
                    }
                    #new-project-team{
                        width: 76%;
                        background-color: #fff;
                        border: none;
                        padding: 6px 10px;
                        outline: none;
                        margin-bottom: 24px;
                        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
                    }
                    #new-project-title-input{
                        width: 75%;
                        border: none;
                        background-color: #fff;
                        box-shadow: none;
                        padding: 6px 10px;
                        outline: none;
                        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
                    }
                    #add-project-btn{
                        width: 20%;
                        border: none;
                        background-color: #8347b3;
                        color: #fff;
                        padding: 6px 10px;
                        float: right;
                        text-transform: uppercase;
                        box-shadow: 0 3px 10px -3px #000;
                        outline: none;
                        transition: 0.2s all ease-in-out;

                        &:active{
                            box-shadow: 0 3px 5px -3px #000;
                        }
                    }
                }
                #project-list{
                    background-color: #fff;

                    a{
                        display: block;
                        padding: 10px 16px;
                    }
                }
                #project-detail{

                }
            }
        }
    }
    .task{
        background-color: #fff;
        padding: 16px 24px;
        border: 1px solid #eee;
        border-top-color: transparent;
        margin: 16px;
        flex-basis: 400px;

        h3{
            margin: 0;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p{
            color: #969696;
        }
        .time-list{
            font-family: 'Roboto', sans-serif;

            .time{
                margin-top: 10px;
                margin-bottom: 10px;
                color: #969696;

                .action-buttons{
                    min-width: 136px;
                    float: right;
                    text-align: right;

                    .fa, .duration{
                        margin-left: 10px;
                        color: #969696;
                        display: inline-block;
                    }
                }
            }
        }
        .action{
            text-align: right;
            margin-top: 24px;

            .btn-start{
                margin-left: 32px;
                color: #8347b3;
            }
        }
    }
    #add-task-modal{
        .modal-content{
            border-radius: 0;
            padding: 16px;

            .modal-header{
                h3{
                    text-transform: uppercase;
                }
            }
            .modal-body{
                input, select{
                    background-color: #f5f5f5;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    text-transform: none;

                    option{
                        padding: 10px;
                    }
                }
                input:focus, select:focus{
                    border-radius: none;
                    box-shadow: none;
                }
                label{
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    color: #969696;
                }
                .form-group{
                    margin-bottom: 32px;
                }
            }
            .modal-footer{
                border: none;

                button{
                    margin-top: 10px;
                    margin-left: 16px;
                    min-width: 96px;
                    padding: 6px 24px;
                    background-color: #f0f0f0;
                    border: none;
                }
                #add-task-modal-btn, #save-time-modal-btn{
                    color: #fff;
                    background-color: #8347b3;
                }
            }
        }
    }
}
