@import 'base';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/bg.png');
  background-color: $primary-color;
  background-blend-mode: soft-light;

  #app-detail {
    flex-basis: 66%;
    min-height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;

    header{
      display: flex;
      align-items: center;
    }

    img{
      margin: 36px 0;
      height: 72px;
    }
    h1 {
      margin: 36px 0;
      font-size: 5em;
      line-height: 1;
      color: #f0f0f0;
      text-transform: uppercase;
    }
  }
  #team-detail {
    min-height: calc(100vh - 96px);
    flex-basis: 30%;
    background-color: #fff;
    margin: 48px 0;
    padding: 0 32px;
    border-radius: 5px;
    box-shadow: 3px 5px 25px -7px rgba(0 , 0, 0, 0.5);

    #team-list {
      flex-basis: 30%;

      header {
        height: 96px;
        display: flex;
        align-items: center;
        font-size: 2em;
      }
      .empty {
        height: calc(100vh - 100px - 96px - 96px);
        padding-top: 48px;
        text-align: center;
        color: #c0c0c0;
        font-size: 2em;
      }
      .list {
        overflow-y: auto;
        height: calc(100vh - 100px - 96px - 96px);

        a {
          display: block;
          width: 100%;
          min-height: 48px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          display: flex;
          align-items: center;
          color: $primary-color;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    #new-team-input-container {
      height: 100px;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        input {
          flex-basis: calc(95% - 164px);
          font-size: 1.5em;
          font-family: inherit;
          display: block;
          padding: 4px 8px;
          border: none;
          outline: none;
          background-color: transparent;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
        button {
          flex-basis: 164px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-top: 24px;
          display: block;
          padding: 12px 16px;
          font-family: inherit;
          font-size: 1.2em;
          text-transform: uppercase;
          border: none;
          background-color: $primary-color;
          color: #fff;
          cursor: pointer;
          border-radius: 3px;

          .fa{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
