@import 'base';

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    h1, h2, h3, h4{
        margin: 0;
        //text-transform: uppercase;
    }
    
    > header{
        flex-basis: 100%;
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        background-color: $primary-color;
        color: #fff;
        z-index: 1;
        border-bottom: 1px solid $primary-color;
        // box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.7);


        #app-info{
            display: flex;
            align-items: center;

            img {
                height: 2.6em;
                width: 2.6em;
                margin-right: 10px;
                object-fit: contain;
                object-position: center;
                filter: grayscale(50%) brightness(120%);
            }
             
            h1 {
                font-size: 2.4em;
                font-weight: $font-weight-normal;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }
         
        #user-info{
            color: rgba(255, 255, 255, 0.6);
            transition: color 0.2s ease-in-out;
            text-transform: none;

            .fa {
                margin-left: 8px;
            }

            &:hover {
                color: rgba(255, 255, 255, 0.96);
            }
        }

    }
     
    > aside {
        flex-basis: 25%;
        background-color: #f0f0f0;
        height: calc(100vh - #{$header-height});
        z-index: 1;
        box-shadow: 3px 0 10px -5px rgba(0, 0, 0, 0.3);

        >header{
            height: 72px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            background-color: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            h2 {
                font-weight: $font-weight-normal;
                font-size: $font-size-sl;
            }
        }
         
        #projects {
            height: calc(100% - 200px - 72px);
            overflow-y: scroll;

            a {
                display: block;
                width: 100%;
                padding: 16px 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                color: $primary-color;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
         
        #add-project-inputs{
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #fff;
            height: 200px;
            flex-wrap: wrap;

            header {
                padding: 0 16px;
                height: 48px;
                display: flex;
                align-items: center;
                 
                h3 {
                    font-weight: $font-weight-bold; 
                }
            }

            .content {
                padding: 0 16px;

                .input-group {
                    min-height: 36px;
                    display: flex;
                    align-items: center;
                     
                    input, select {
                        font-family: inherit;
                        outline: none;
                    }
                     
                    label {
                        flex-basis: 33%;
                        color: $label-color;
                        font-size: $font-size-sm; 
                    }
                     
                    input, select{
                        padding: 4px 8px;
                        flex-basis: 67%;
                        outline: none;
                        font-size: $font-size-sm; 
                        background-color: #fff;
                    }
                }
                 
                .action-buttons {
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    button{
                        border: none;
                        text-transform: uppercase;
                        background-color: $primary-color;
                        color: #fff;
                        cursor: pointer;
                        padding: 8px 16px;
                        border-radius: 3px;
                        font-weight: $font-weight-bold;

                        font-family: inherit;

                        .fa{
                            margin-right: 6px;
                        }
                    }
                }



            }

        }
    }

    > main{
        flex-basis: 75%;
        height: calc(100vh - #{$header-height});
        overflow-y: auto;
        background-color: #e3e3e3;

        >div{
            min-height: 100vh;

            >header{
                background-color: #fafafa;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                position: sticky;
                top: 0;
                padding: 0 24px;

                h2 {
                    font-weight: $font-weight-normal;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    font-size: $font-size-sl;
                }
                 
                .action-buttons {
                    button {
                        color: inherit;
                        background-color: #fff;
                        border: 2px solid rgba(0, 0, 0, 0.5);
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;
                        cursor: pointer;
                        margin-left: 4px;
                        font-size: $font-size-lg;

                        &:hover {
                            color: $primary-color;
                            border: 2px solid $primary-color;
                        }
                    }
                }

                .tabs {
                    margin: 0 -16px;
                    flex-basis: 100%;
                    display: flex;
                    height: 36px;
                    align-items: center;

                    .tab {
                        padding: 6px 16px;
                        cursor: pointer;
                        text-transform: uppercase;

                        &.active {
                            border-bottom: 2px solid $primary-color;
                        }
                    }
                }
            }

             
            #tasks {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 10px 16px;

                .task{
                    width: 320px;
                    margin: 8px;
                    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.5);
                    background-color: #f5f5f5;

                    header {
                        height: 48px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #fff;

                        h3 {
                            font-weight: $font-weight-normal;
                            color: $primary-color;
                            padding: 0 16px;

                            input {
                                width: 100%;
                                font-family: inherit;
                                font-size: $font-size-lg;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                border-bottom: 2px solid rgba(0, 0, 0, 0.1);

                                &:focus {
                                    border-bottom: 2px solid $primary-color;
                                }
                            }
                        }
                    }

                     
                    &.active {
                        header {
                            background-color: $active-color;

                            * {
                                color: #fff;
                            }
                        }
                    }
                     
                    &.new-task{
                        header {
                            background-color: #fff;
                        }
                    }
                    .time-elements{
                        height: 300px;
                        overflow-y: scroll;

                        > div{
                            padding: 0 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 32px;

                            &:nth-child(odd){
                                background-color: #eaeaea;
                            }

                            >:first-child {
                                flex-basis: 50%;
                            }
                            >:nth-child(2) {
                                flex-basis: 30%;
                            }
                            >:last-child{
                                flex-basis: 20%;
                            }

                            button {
                                background-color: transparent;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                color: rgba(0, 0, 0, 0.5);

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                     
                    .task-action-buttons{
                        padding: 0 10px;

                        button {
                            color: rgba(0, 0, 0, 0.5);
                            font-size: $font-size-xl;
                            margin-left: 8px;
                            background-color: transparent;
                            border: none;
                            font-family: inherit;
                            text-transform: uppercase;
                            outline: none;
                            cursor: pointer;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

        }
    }

    #stats {
        position: absolute;
        top: $header-height;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 111;

        header {
            flex-basis: $header-height;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 32px;

            button {
                background-color: transparent;
                color: $primary-color;
                cursor: pointer;
                border: none;
                outline: none;
                font-size: 2em;
            }
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: calc(100% - #{$header-height});
            width: 100%;

            svg {
                .line {
                    fill: none;
                    stroke-width: 2px;
                }
            }
        }
    }

   #edit-entry-modal {
        main {
            > div {
                padding: 10px 0;
                
                >* {
                    display: block;
                    margin-top: 4px;
                }
            }
        }
    }

    #edit-task-modal {
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            section {
                margin-bottom: 10px;
                 
                > label {
                    display: block;
                    margin-bottom: 6px;
                    font-size: $font-size-xs;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                }

                > div {
                    width: 320px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 6px;

                    >label {
                        flex-basis: 96px;
                    }

                    input[type="text"], input[type="date"] {
                        flex-basis: calc(100% - 96px);
                        font-family: inherit;
                    }

                    button {
                        font-family: inherit;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        color: #e74c3c;
                        text-transform: uppercase;
                        cursor: pointer;
                    }

                    .radio-input{
                        display: flex;
                        align-items: center;
                    }
                     
                    input {
                        padding: 0 4px;
                    }
                }
            }
             
        }
         
    }
}
