@import 'base';

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    *{
        box-sizing: border-box;
    }
    h1, h2, h3, h4{
        margin: 0;
        text-transform: uppercase;
    }
    select {
        background-color: #fff;
    }
    > header{
        flex-basis: 100%;
        height: $header-height;
        background-color: #fff;
        display: flex;
        color: $primary-color;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        z-index: 1;
        border-bottom: 1px solid $primary-color;
        // box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.7);


        #app-info{
            display: flex;
            align-items: center;

            img{
                height: 2.6em;
                width: 2.6em;
                object-fit: contain;
                object-position: center;
            }
            h1{
                font-size: 2.6em;
                font-weight: 300;
            }
        }
        #user-info{
            color: inherit;
        }

    }
    > aside{
        flex-basis: 30%;
        background-color: #f0f0f0;
        border-right: 1px solid $primary-color;
        height: calc(100vh - #{$header-height});

        >header{
            height: 72px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            background-color: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            h2{
                font-weight: 400;
            }
        }
        #projects{
            height: calc(100% - 144px - 72px);
            overflow-y: scroll;

            a{
                display: block;
                width: 100%;
                padding: 8px 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                color: $primary-color;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
        #add-project-inputs{
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #fff;
            height: 144px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10px;

            input, select, button{
                font-family: inherit;
                outline: none;
                text-transform: uppercase;
            }
            h3{
                flex-basis: 100%;
                font-weight: 400;
            }
            button{
                margin-left: auto;
                border: none;
                background-color: transparent;
                color: $primary-color;
                cursor: pointer;
                padding: 8px;

                .fa{
                    margin-right: 8px;
                }
            }
            label{
                flex-basis: 33%;
                text-transform: uppercase;
                color: $label-color;
                font-size: 0.9em;
            }
            input, select{
                padding: 4px 8px;
                flex-basis: 67%;
                outline: none;
            }
        }
    }

    > main{
        flex-basis: 70%;
        height: calc(100vh - #{$header-height});
        overflow-y: auto;

        >div{
            min-height: 100vh;


            >header{
                height: 72px;
                background-color: #fff;
                color: $primary-color;
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;
                position: sticky;
                top: 0;
                box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.5);

                h2{
                    font-weight: 400;
                }
                button{
                    background-color: #fff;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                }
            }
            .tabs {
                display: flex;
                height: 36px;
                align-items: center;
                background-color: white;

                .tab {
                    padding: 6px 16px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: $font-size-sm;
                    &.active {
                        border-bottom: 1px solid $primary-color;
                    }
                }
            }
            #tasks{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;

                .task{
                    width: 310px;
                    margin: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.1);

                    h3{
                        background-color: $primary-color;
                        height: 48px;
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        color: #fff;
                        font-weight: 400;

                        input{
                            background-color: transparent;
                            border: none;
                            outline: none;
                        }
                    }
                    &.active{
                        h3{
                            background-color: $active-color;
                        }
                    }
                    &.new-task{
                        h3{
                            background-color: #fff;
                        }
                    }
                    .time-elements{
                        height: 300px;
                        overflow-y: scroll;

                        > div{
                            padding: 0 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 32px;

                            &:nth-child(odd){
                                background-color: #fff;
                            }

                            >:first-child {
                                flex-basis: 50%;
                            }
                            >:nth-child(2) {
                                flex-basis: 30%;
                            }
                            >:last-child{
                                flex-basis: 20%;
                            }

                            button {
                                background-color: transparent;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                color: $primary-color;
                            }
                        }
                    }
                    .task-action-buttons{
                        height: 48px;
                        padding: 0 10px;
                        display: flex;
                        justify-content: space-between;
                        background-color: #fff;

                        button{
                            font-size: 1.1em;
                            letter-spacing: 0.05em;
                            background-color: transparent;
                            color: $primary-color;
                            border: none;
                            font-family: inherit;
                            text-transform: uppercase;
                            font-weight: 400;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }

    #stats {
        position: absolute;
        top: $header-height;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        header {
            flex-basis: $header-height;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 32px;

            button {
                background-color: transparent;
                color: $primary-color;
                cursor: pointer;
                border: none;
                outline: none;
                font-size: 3em;
            }
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: calc(100% - #{$header-height});
            width: 100%;

            svg {
                .line {
                    fill: none;
                    stroke-width: 2px;
                }
            }
        }
    }

    #edit-entry-modal {
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            > div {
                >* {
                    display: block;
                    margin-top: 4px;
                }
            }
        }
    }

    #edit-task-modal {
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            section {
                margin-bottom: 10px;
                > label {
                    display: block;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    margin-bottom: 6px;
                }

                > div {
                    width: 320px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 6px;

                    >label {
                        flex-basis: 96px;
                    }

                    input {
                        flex-basis: calc(100% - 96px);
                    }

                    button {
                        color: #fff;
                        border: none;
                        outline: none;
                        background-color: $primary-color;
                        padding: 6px 8px;
                        cursor: pointer;
                    }
                    input {
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}
