@import 'base';

.modal-container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

    .modal {
        min-height: 320px;
        background-color: #fff;
        box-shadow: 0 5px 48px -5px rgba(0, 0, 0, 0.8);

        header {
            min-height: 64px;
            padding: 0px 24px;
            display: flex;
            align-items: center;
            background-color: $primary-color;
            h2 {
                color: #fff;
                font-weight: $font-weight-normal;
            }
        }
         
        main {
            padding: 16px 24px 0 24px;
            min-height: calc(320px - 64px - 56px);
        }
         
        footer {
            min-height: 56px;
            padding: 0px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f0f0f0;

            button {
                font-family: inherit;
                text-transform: uppercase;
                background-color: transparent;
                cursor: pointer;
                border: none;
                outline: none;
                color: $primary-color;
            }
        }
    }
}
